#sidebar {

		/*column-count: 2;
    	-webkit-column-count: 2;
    	-moz-column-count: 2;
    	-o-column-count: 2;
		*/
		margin-top: -900px;
		margin-left: 200px;
		float: right;
		height: 900px;
		
		
}

#general {

		/*column-count: 2;
    	-webkit-column-count: 2;
    	-moz-column-count: 2;
    	-o-column-count: 2;
		*/
		margin-top: 20px;
		margin-left: 250px;
		float: left;
		height: 900px;
		
		
}

#titulo {
		padding-bottom: 15px;
		background: #435d7d;
		color: #fff;
		padding: 16px 30px;
		margin: auto;
		width: 500px;
		/*margin: -20px -25px 10px;*/
		border-radius: 3px 3px 0 0;
		
}
#panel1{
		background: #fff;
   		border-radius: 3px;
		margin: auto;
		width: auto;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        height: 260px;
       
}
#panel2{
		background: #fff;
   		border-radius: 3px;
		margin: auto;
		width: auto;
		height: 260px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#panel3{
		background: #fff;
   		border-radius: 3px;
		margin: auto;
		width: auto;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        height: 260px;
}
#sidebar.panel4{
		background: #fff;
   		border-radius: 3px;
		margin: auto;
		width: auto;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        
}